/* .App {
  text-align: center;
  align-content: center;
  margin: auto;
}

.board-container {
  height: 100%;
  width: 100%;
  text-align: center;
  align-content: center;
  margin: auto;
}

.game-square {
  height: 20vh;
  width: 20vw;
}

.App-link {
  color: #61dafb;
} */

.square {
    height: 200px;
    background-color: grey;
    width: calc((100% / 3) - 6px);
    margin: 1px;
}

.square h1 {
    height: 200px;
    text-align: center;
    line-height: 200px;
}

