.App {
  text-align: center;
  align-content: center;
  margin: auto;
}

.board-container {
  height: 100%;
  width: 100%;
  text-align: center;
  align-content: center;
  margin: auto;
}

.game-square {
  height: 20vh;
  width: 20vw;
}

.App-link {
  color: #61dafb;
}

